@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700,400italic,700italic';
@import 'https://www.w3schools.com/w3css/4/w3.css';

body {
  font-family: 'Montserrat';
  margin: 40px;
}

input, label {
  display: block;
  min-width: 20rem;
}

input {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

label {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.actions {
  display: block;
  margin-bottom: 2rem;
}

button {
  margin-right: 1rem;
}

th {
  text-align: left;
  min-width: 10rem;
}
